.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  padding: 8px 16px;
}
li a:hover {
  background-color: #555555;
  color: #FFFFFF;
}
.active {
  background-color: #428bca;
  color: #FFFFFF;
}
img{
  height:400px;
  width:400px;
  border-style:solid;
  border-width:2px;
  border-color:#000000;
}
ul{
    display:inline;
}
body{
  background-color:#A9A9A9;
}
